* {
  margin: 0px;
  padding: 0px;
  clear: both;
  box-sizing: border-box;
}
body {
  background-color: #000;
  height: 100vh;
}
.loader {
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  flex-wrap: wrap;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.circle {
  width: 90px;
  height: 90px;
  border: 3px solid transparent;
  border-top-color: #fff;
  border-radius: 100px;
  animation: spinner 1.5s infinite forwards;
}
.circle:last-child {
  animation-delay: 2s;
  margin-top: -50px;
  filter: drop-shadow(0px 0px 3px yellow);
  border-top-color: yellow;
}
.circle:first-child {
  animation-delay: 1s;
  filter: drop-shadow(0px 0px 3px #ff00fc);
  border-top-color: #ff00fc;
}
.circle:nth-child(2) {
  margin-left: -30px;
  filter: drop-shadow(0px 0px 3px red);
  border-top-color: red;
}
.circle:after {
  content: "";
  width: 10px;
  display: block;
  height: 10px;
  background: yellow;
  position: absolute;
  top: 5px;
  border-radius: 10px;
  right: 8px;
  filter: drop-shadow(0px 0px 20px yellow);
}
.circle:first-child:after {
  filter: drop-shadow(0px 0px 20px #ff00fc);
  background: #ff00fc;
}
.circle:last-child:after {
  filter: drop-shadow(0px 0px 20px yellow);
  background: yellow;
}
.circle:nth-child(2):after {
  filter: drop-shadow(0px 0px 20px red);
  background: red;
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
